.idea/
data/MED-RT/Core_MEDRT_XML.xml
data/MED-RT/Core_MEDRT_XML.zip
data/DrugBank/drugbank_all_full_database.xml.zip
data/DrugBank/full database.xml
data/DrugBank/full_database.xml
data/HGNC/hgnc_complete_set.txt
